<div class="container mt-5">
    <div class="row">

        <div class="col-md-8">
            <div class="cameras-container">
                <app-video-player *ngIf="localStream" [mode]="'owner'" [stream]="localStream" class="my-video"></app-video-player>
                <div *ngIf="!joinedUsers.length"> 
                    <div class="lottie-animation ml-5 mx-auto col-12">
                         
<h2>En attente de participants...</h2>
  <ng-lottie
    [options]="animationOption" 
    height="400px"
     >
  </ng-lottie>
</div>
                </div>
                <app-video-player *ngFor="let user of joinedUsers" [stream]="user.stream"></app-video-player>
            </div>
        </div> 
    </div>
</div>
