<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

 

<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
 <a [routerLink]="['/']">
  <img
  width="40"
  src="https://www.svgrepo.com/show/26492/webcam.svg"
  alt="Angular Logo"
     />
 </a>

<span>Visio ISET</span>
    <div class="spacer"></div>
   <div class="topbar-buttons">
   <a [routerLink]="['/connexion']" *ngIf="router.url !== '/connexion'" >
    <button mat-raised-button color="primary">Connexion</button>
   </a>
   <a [routerLink]="['/inscription']" *ngIf="router.url !== '/inscription'">
    <button mat-raised-button color="primary">Inscription</button>

   </a>
   </div>
</div> -->
<div id="i6po" class="gjs-grid-row">
  <div id="itjq" class="gjs-grid-column">
    <div id="iyd2" class="gjs-grid-row">
      <div id="iqjl" class="gjs-grid-column"> <a [routerLink]="this.authService.isLoggedIn() ? ['/dashboard'] : ['/']" class="gjs-link-box">
          <div data-type-icon id="irfl3k" class="gjs-icon">
          <img src="/assets/logo.png" height="50px"  />  
          </div>
        </a></div>
      <div id="iffs" class="gjs-grid-column">
        <div id="it00l" class="gjs-grid-row">
          <div id="irtfd" class="gjs-grid-column"><a id="icfyb" [routerLink]="['/']" class="gjs-link">Á propos</a><a
              href="#feature-section" id="infmy1" class="gjs-link">Features</a></div>
          <div id="icyzp" class="gjs-grid-column"><a id="i88iz" href="#testimonial-section"
              class="gjs-link">Testimonials</a></div>
        </div>
      </div>
      <div class="topbar-buttons">
        <a [routerLink]="['/connexion']" class="mx-2" *ngIf="router.url !== '/connexion' && !this.authService.isLoggedIn() " >
         <button mat-raised-button color="primary">Connexion</button>
        </a>
        <a [routerLink]="['/inscription']" class=" mx-5" *ngIf="router.url !== '/inscription' && !this.authService.isLoggedIn() ">
          <button mat-raised-button color="primary">Inscription</button>
      
         </a>
         <a [routerLink]="['/makeMeet']" class=" mx-5"  *ngIf="router.url !== '/makeMeet' && this.authService.isLoggedIn() ">
          <button mat-raised-button color="primary">Creer une Réunion</button>
      
         </a>
             <a  (click)="this.logout()" class=" mx-5"  *ngIf="this.authService.isLoggedIn() ">
          <button mat-raised-button color="primary">Se Deconnecter</button>
      
         </a>
        </div>
    </div>
  </div>
</div>
 

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
